* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background: linear-gradient(#2A00B7, #42006C);
    min-height: 100vh;
    height: 100%;
    padding-bottom: 5%;
  }